{% extends 'index/base.html' %}

{% block head %}
<title>登录 - {{ site_name }}</title>
{% endblock %}

{% block content %}
    <h1 class="h1-text">
        登录
    </h1>
    <form action="" method="post" name="login_form" onsubmit="return validateForm()">
        {% csrf_token %}
        <input type="hidden" name="required">
        用户名或用户编号:
        <input type="text" name="username" required>
        <br>
        密码:
        <input type="password" name="password" required>

        <br>
        图形验证码:
        <input type="text" id="captcha" name="captcha" required>
        <img src="{{ captcha_image_url }}" alt="验证码">
        <br>
        <input type="hidden" id="captcha_key" name="captcha_key" value="{{ captcha_key }}" autocomplete="off">

        <input type="submit" value="登录">
    </form>
    <script>
        function validateForm()
        {
            var required=document.forms['login_form']['required'].value;
            if(required&&required!='')
                return false;
            return true;
        }
    </script>
    {% if errors %}
        <p class="p-text">
            错误:{{ errors }}
        </p>
    {% endif %}
{% endblock %}