{% extends 'index/base.html' %}

{% block head %}
<title>修改密码 - {{ site_name }}</title>
{% endblock %}

{% block content %}
	<h1 class="h1-text">修改密码</h1>

	{% if success %}
		<p class="p-text">{{ success }}，可<a class="a-text" href="{% url 'users:settings' %}">返回设置</a>。</p>
	{% else %}
		<form action="" method="post">
			{% csrf_token %}
			原密码:
			<input type="password" name="old_password" required>
			<br>
			新密码:
			<input type="password" name="new_password1" required>
			<br>
			确认新密码:
			<input type="password" name="new_password2" required>
			<br>
			<input type="submit" value="修改密码">
		</form>
	{% endif %}

	{% if errors %}
		<p class="p-text">错误：{{ errors }}</p>
	{% endif %}

	<p class="p-text"><a class="a-text" href="{% url 'users:settings' %}">返回设置</a></p>
{% endblock %}
