{% extends 'index/base.html' %}
{% load static %}

{% block head %}
<title>修改密码 - {{ site_name }}</title>
{% endblock %}

{% block content %}
	<h1 class="h1-text">修改密码</h1>

	{% if success %}
		<p class="p-text">{{ success }}，可<a class="a-text" href="{% url 'users:settings' %}">返回设置</a>。</p>
	{% else %}
		<form action="" method="post">
			{% csrf_token %}
			原密码:
			<input type="password" name="old_password" required>
			<br>
			新密码:
			<input type="password" name="new_password1" required>
			<div id="pw-strength"></div>
			<br>
			确认新密码:
			<input type="password" name="new_password2" required>
			<br>
			<input type="submit" value="修改密码">
		</form>
	{% endif %}

	{% if errors %}
		<p class="p-text">错误：{{ errors }}</p>
	{% endif %}

	<p class="p-text"><a class="a-text" href="{% url 'users:settings' %}">返回设置</a></p>

	{{ user.username|json_script:"pw-username-data" }}
	<script src="{% static 'tool/js/password-strength.js' %}"></script>
	<script>
		(function () {
			var pw = document.querySelector('input[name="new_password1"]');
			var box = document.getElementById('pw-strength');
			var username = JSON.parse(document.getElementById('pw-username-data').textContent);
			function update() {
				renderStrengthBar(box, passwordStrengthScore(pw.value, username));
			}
			pw.addEventListener('input', update);
			pw.addEventListener('blur', update);
			update();
		})();
	</script>
{% endblock %}
