{% extends 'index/base.html' %}

{% block head %}
<title>{{ profile_user.username }} 的主页 - {{ site_name }}</title>
{% endblock %}

{% block content %}
	<h1 class="h1-text">{{ profile_user.username }} 的主页</h1>

	<h2 class="h2-text">基本信息</h2>
	<ul>
		<li class="li-text">用户名：{{ profile_user.username }}</li>
		<li class="li-text">编号：{{ profile_user.id }}</li>
		<li class="li-text">最后登录时间：{{ profile_user.last_login|date:"Y-m-d H:i:s"|default:"从未登录" }}</li>
	</ul>

	{% if can_view_user %}
	<h2 class="h2-text">权限信息</h2>
	<ul>
		<li class="li-text">
			可开发（can_develop）：
			{% if profile_user.can_develop %}<span class="yes">是</span>{% else %}<span class="no">否</span>{% endif %}
		</li>
		<li class="li-text">
			超级用户（superuser）：
			{% if profile_user.is_superuser %}<span class="yes">是</span>{% else %}<span class="no">否</span>{% endif %}
		</li>
		<li class="li-text">
			激活状态（active）：
			{% if profile_user.is_active %}<span class="yes">正常</span>{% else %}<span class="no">禁用</span>{% endif %}
		</li>
	</ul>
	{% endif %}
{% endblock %}
