{% extends 'index/base.html' %}

{% block title %}
<title>关于我们 - {{ site_name }}</title>
{% endblock %}

{% block content %}
	<h1 class="h1-text">
		关于我们
    </h1>
    <div>
        <h2 class="h2-text">
            联系方式
        </h2>
        <p class="p-text">
            QQ群: 1107843395
        </p>
    </div>
    <div>
        <h2 class="h2-text">
            支持我们
        </h2>
        <p class="p-text">
            请给我们的<a class="a-text" href="https://github.com/wujiawei36/wjw2">Github项目</a>点亮Star
        </p>
        <!-- <a onclick="javascript:alert('请加QQ群: 1107843077 并给群主发红包')" class="a-text">
            Click here
        </a> -->
    </div>
{% endblock %}